*{
    margin: 0;
    padding: 0;
    
}
.painel{
    display: inline-flex;
    width: 100%;
    height: 628px;
}
.esq{
    margin: left;
    width: 50%;
    height: 100%;
    background-color: black;
}
.txt-1{
    width: 444px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 225px;
    text-align: center;
    color: white;
}
h1{
    margin: 33px 0;
    font-size: 32px;
}
p{
    text-align: center;
    font-size: 22px;
}
.btn-1{
    margin-top: 15px;
    width: 166px;
    height: 33px;
    cursor: pointer;
}
/*****************************************************************/
.dire{
    width: 50%;
    background-color: rgb(214, 212, 212);
    margin: right;
}
h2{
    font-size: 37px;
    text-align: center;
}
.quadro{
    text-align: center;
    width: 333px;
    margin: 240px auto;
}

input{
    padding: 5px;
    width: 100%;
    margin-top: 10px;
}
.btn-2{
    color: white;
    background-color: rgb(136, 134, 134);
    width: 104%;
    margin: 14px auto;
    border: none;
    padding: 5px;
}

@media screen and (max-width: 875px) {
    .painel{
        display: block;
    }    
    .esq{
        display: flex;
        margin: 0 auto;
        width: 100%;
    }
    .dire{
        display: flex;
        width: 100%;
        height: 100%;
    }   
    
}
@media screen and (max-width: 410px) {
    .quadro{
        width: 322px;
        height: 266px;
    }
    p{font-size: 18px;}
    input {width: 80%;}
    .btn-2 {
        width: 83%;
        }    
}